body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h3,
h4 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.weight-input,
.price-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.confirm-button {
}
